[advice]
	addIgnoredFile = false

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status

[core]
	editor = nvim

[init]
	defaultBranch = main

[pager]
	branch = false

[push]
	autoSetupRemote = true

[user]
	name = Quinn Pham
	email = quinnlp12@gmail.com

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[includeIf "gitdir:~/work/"]
	path = ~/.config/git/config-intel
[includeIf "hasconfig:remote.*.url:git@github.com:intel/*"]
	path = ~/.config/git/config-intel
[includeIf "hasconfig:remote.*.url:https://github.com/intel/*"]
	path = ~/.config/git/config-intel
